html
    head
        meta(charset ="utf-8")
        link(rel="stylesheet" href="style.css")
        title Show
    body
        h1  #{student.name}
        br
        h2 Home State: #{student.home_state}
        br
        h2 Lucky Number:  #{student.lucky_number}
        br
        h2 DOB: #{student.birthday.toDateString("MMM DD, YYYY")}
        br
        br
        a(href="/edit/"+student._id class="button") Edit Student |
        a(href="/" class="button") Home