*{
    margin:0px;
    padding:0px;
}

h1{
    background-color: cornflowerblue;
}

form{
    display: inline-block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

    }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

tr:nth-child(even) {
    background-color: #dddddd;
    }

input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
.button {
        background-color: #4CAF50;
        border: none;
        border-radius: 12px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }